[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
	credentialStore = secretservice
[core]
	editor = emacsclient -nw --alternate-editor=''
[user]
	email = helge.liebert@gmail.com
	name = Helge Liebert
[pull]
	rebase = preserve
